body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    background-color:#E83E8C; 
}

.aceptamos{
    color: aliceblue;
}
.bg-color-2{
    background-color:#17A2B8;
}
footer{
    background-color:#E83E8C ;
    width: 1280px;
    height: 184px;
    text-align: center;
}